:root {
    --default-pink: #DEC7C7;
    --dark-pink: #D9A8A8;
}

.container {
    display: grid;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    height: 100vh;
}

body {
    background-color: var(--default-pink);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    position: absolute;
    top: 40%;
    width: 100%;
}

.header {
    display: grid;
    justify-items: center;
}

.header button {
    background-color: var(--dark-pink);
    border: none;
    padding: 10px 30px 10px 30px;
    margin: 10px 0 10px 0;
    font-weight: 700;
}

.line {
    background-color: black;
    height: 2px;
    width: 100vw;
}